<h1>Welcome to your Restaurant</h1>

<h3><%= link_to "View the Menu", menu_items_path %></h3>

<h3><%= link_to "View Customers", customers_path %></h3>

<h3><%= link_to "Create an Order", new_order_path %></h3>