<h1>Customers</h1>


	<% @customers.each do |customer| %>
		<div><%= link_to customer.name, customer_path(customer) %></div>
	<%end%>
<br>

<div><%= button_to "New", new_customer_path, method: "get" %></div>

<p><%= link_to "Home", home_path %></p>

